*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* Navabar */
.navbar{
    background-color: #712E1E;
    & img[alt='logo'] {
        width: 5rem;
        border-radius: 5px;
    }
    :is(.nav-link, a) {
        color: tan;
        font-family: "Playfair Display", sans-serif;
    }
} 
:is(body) {
    grid-template-rows: auto minmax(100dvh, 100%) auto;
}
/* text-align center */
:is(h2, footer p ){
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    color: #888870;

}
footer{
    position: absolute;
    bottom: 0;
    background-color: #1D3124;
    padding: 20px 0;
    
}
/* Landing Page */
.hero-image{
width: 50%; 
height: 50%;
background-image: url("https://nusaibah01.github.io/all-images/images/download (2).jpg");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
}
.header{
    text-align: center;
    font-family:"Playfair Display", sans-serif;
    color: brown;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);

}
.landing-page{
    button{
        border-radius: 5px;
        border-color: #712E1E;
        background-color: #712E1E;
    
    }
    button:hover{
color: rosybrown;
    }
}
/* About  */
#aim{
    font-weight: bold;
    text-align: center;
}
p{
    font-family: "Lato", sans-serif;
    color: tan;
}
.row{
    text-align: center;
}
#suggest{
    border-radius: 5px;
    
}

